.m-flowchart-01-module001 {
    position: relative;
    z-index: 1;
    background-color: var(--dynamiccolor_background_primary_100);
    padding: 48px 0;
}

.m-flowchart-01-module001__container {
    width: 100%;
    max-width: 1792px;
    padding: 0 16px;
    margin: 0 auto;
}

.m-flowchart-01-module001__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.m-flowchart-01-module001__headline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-writing-mode: unset;
        -ms-writing-mode: unset;
            writing-mode: unset;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
}

.m-flowchart-01-module001__english-title {
    color: var(--dynamiccolor_text_primary);
    font-family: var(--font-secondary);
    font-size: 50px;
    font-weight: 900;
    line-height: 1;
}

.m-flowchart-01-module001__sub {
    color: var(--dynamiccolor_text_primary);
    font-family: var(--font-primary);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 1.6px;
    margin-top: 10px;
}

.m-flowchart-01-module001__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 100%;
    margin-top: 30px;
}

.m-flowchart-01-module001__item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 16px;
    padding-bottom: 40px;
}
.m-flowchart-01-module001__wrap-item{
    padding-top: 20px;
}
.m-flowchart-01-module001__item:last-child{
    padding-bottom: 0;
}
.m-flowchart-01-module001__item::before{
    content: "";
    position: absolute;
    top: 74px;
    left: 40px;
    -webkit-mask-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMiIgaGVpZ2h0PSI4MiIgdmlld0JveD0iMCAwIDIgODIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xLjAwMDA2IDFMMS4wMDAwNiA4MSIgc3Ryb2tlPSIjQ0JGQjQ1IiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWRhc2hhcnJheT0iNiA2Ii8+Cjwvc3ZnPgo=');
            mask-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMiIgaGVpZ2h0PSI4MiIgdmlld0JveD0iMCAwIDIgODIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xLjAwMDA2IDFMMS4wMDAwNiA4MSIgc3Ryb2tlPSIjQ0JGQjQ1IiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWRhc2hhcnJheT0iNiA2Ii8+Cjwvc3ZnPgo=');
    width: 2px;
    height: -webkit-fill-available;
    z-index: -1;
    background-color: var(--dynamiccolor_theme_primary_100);
}
.m-flowchart-01-module001__item:last-child::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 33px;
    width: 16px;
    height: 2px;
    border-radius: 80px;
    background-color: var(--icon_secondary);
}
.m-flowchart-01-module001__text-number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    color: var(--dynamiccolor_theme_primary_100);
    font-family: var(--font-secondary);
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    line-height: 1;
    width: 80px;
    height: 80px;
    border-radius: 80px;
    overflow: hidden;
    padding: 5px;
    border: 2px solid var(--icon_secondary);
    background-color: var(--dynamiccolor_background_primary_100);
}

.m-flowchart-01-module001__item-title {
    color: var(--dynamiccolor_text_primary);
    font-family: var(--font-primary);
    font-size: 22px;
    font-weight: 900;
    line-height: 1.6;
    letter-spacing: 1.76px;
}

.m-flowchart-01-module001__item-info {
    color: var(--dynamiccolor_text_primary);
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 1.16px;
    margin-top: 8px;
}

