body {
  font-family: "Inter", sans-serif;
  background-color: #f7f9fb;
}

.flip-card {
  background-color: transparent;
  height: 300px;
  perspective: 900px;
  aspect-ratio: 1;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.06);
  border-radius: 0.75rem;
}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 0.75rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.flip-card-front {
  background-color: white;
  color: #1f2937;
  border: 1px solid #e5e7eb;
}

.flip-card-back {
  background-color: #ecfdf5;
  color: #047857;
  transform: rotateY(180deg);
  border: 2px solid #34d399; 
}

.lang-tabs {
  display: flex;
  width: 100%;
  max-width: 150px;
}
@media (min-width: 640px) {
  .lang-tabs {
    width: auto;
  }
}
